body {
  background-image: url('https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-size: 2em;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  margin: 0;
  padding-top: 25%;
  text-align: center;
}